.ps-home-ads {
  margin-bottom: 30px;
}
.ps-product-list .ps-section__content {
  padding-top: 30px;
}
.ps-block--category p {
  font-size: 13px;
  margin-top: 10px;
}

.listing_title {
  margin: 10px 0;
  font-size: 24px;
  color: #ff7900;
  font-weight: 400;
  line-height: 1.2;
}
.listing .ads {margin-right: 10px;
  float: left;}
.ps-product__header {background: #FFF; margin-bottom: 20px;}
.white-bg {background: #FFF;}
.ps-product__header p {font-size: 16px; margin-bottom: 0;}
.ps-product__header .location {margin: 10px 0;}
.ps-product__header .ps-product__adopt {
  position: relative;
  top: -15px;
}
.ps-product__header .preference_color {
  width: 30px;
  height: 30px;
  position: relative;
  left: 10px;
  top: 10px;
  display: inline-block;
  border: 1px solid #000;
}
.ps-product__header .adopt {
  color: #FFF;
  border-radius: 30px;
  font-weight: 400;
  font-size: 20px;
}
.ps-product__header h2 {
  font-size: 18px;
  color: #ff7900;
  margin: 20px 0;
  font-weight: 400;
}
.listing .ps-product__thumbnail {max-width: 100% !important;}
.listing .ps-product__info {max-width: 100% !important;}
.ps-section--default .ps-section__header {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.ps-product {
  padding: 10px;
  border: 0;
}
.ps-section--default .ps-section__header h3 {
  font-weight: 400;
}
.ps-product__container {
  position: absolute;
  bottom: 0;
}
.ps-product:hover a.ps-product__title {display: none;}
a.ps-product__title {
  position: absolute;
  bottom: 0;
  background: #444;
  opacity: 0.8;
  width: 100%;
  padding: 5px !important;
  color: #ff7900 !important;
  max-height: fit-content !important;
}
.ps-product .ps-product__thumbnail img {
  height: 160px;
}
#homepage-1 .ps-product-list {
  padding-bottom: 40px;
}
.listing b {
  font-weight: 500;
  color: #000;
}
.listing_color {color: #ff7900;}
.auction_countdown {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
.pd-20px {padding: 20px;}
.mt-20 {margin-top: 20px;}
.ps-shopping__view {display: none !important;}
@media screen and (max-width: 480px) {
  .ps-footer__widgets{display: block;}
  .navigation--list{display: none;}
}