.ps-home-ads {
  margin-bottom: 30px;
}
.ps-product-list .ps-section__content {
  padding-top: 30px;
}
.ps-block--category p {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .ps-footer__widgets{display: block;}
  .navigation--list{display: none;}
}