$color-heading: #FFF;
$color-layout-2-1st: #ff7900;
$color-1st: #424342;
.header--market-place-4 {
    .ps-dropdown {
        a {
            &:hover {
                color: #ffffff;
            }
        }
    }

    .header__extra {
        span {
            background-color: $color-layout-2-1st;
            i {
                color: #ffffff;
            }
        }
    }

    .ps-block--user-header {
        a {
            &:hover {
                color: #fff;
            }
        }
    }

    .header__top {
        background-color: $color-1st;

        .header__left {
            p {
                color: $color-heading;
            }
        }

        .header__top-links {
            li {
                &:after {
                    border-color: #a37000;
                }

                > a {
                    color: $color-heading;
                }
            }
        }
    }

    .header__content {
        background-color: $color-1st;

        .container {
            align-items: flex-start;
        }

        .menu--product-categories {
            .menu__toggle {
                span {
                    display: none;
                }
            }
        }
    }

    .header__center-left {
        padding-top: 10px;
    }

    .header__content-center {
        .ps-form--quick-search {
            margin-bottom: 10px;

            button {
                background-color: $color-layout-2-1st;
                color: #fff;
            }
        }

        p {
            margin-bottom: 0;

            a {
                display: inline-block;
                margin-right: 10px;
                color: $color-heading;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    &.header--sticky {
        .header__content {
            .container {
                align-items: center;
            }

            .menu--product-categories {
                span {
                    display: block;
                }
            }
        }

        .header__content-center {
            p {
                display: none;
            }
        }
    }
}
.header .header__extra > i {
    color: #FFF;
}
.ps-block--user-header .ps-block__left i {color: #FFF;}
.ps-block--user-header .ps-block__right a {color: #FFF;}
.header--market-place-4 .header__top .header__top-links li:after {border-color: #FFF;}
.ps-block--user-header .ps-block__right a:hover {
    color: $color-layout-2-1st;
}
.header--standard.header--sticky .header__content {
    background-color: $color-1st;
}
.header--market-place-4.header--sticky .header__content .menu--product-categories span {color: #FFF;}
.widget_footer .widget-title {
    color: $color-layout-2-1st;
}
.ps-list--link li a {color: #FFF;}